body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #fff; /* Ensure a background color is set for the body */
    color: #333; /* Default text color */
}

header {
    background-color: #333;
    color: white;
    padding: 1em 0;
    position: relative; /* Added for absolute positioning context */
}

/* Menu button style when shown */
#menu-button {
    display: none; /* Hidden by default */
    background-color: #444;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 2;
}

/* Navigation menu styles */
#navigation-menu a {
    color: white;
    text-decoration: none;
    padding: 0 15px;
}

#navigation-menu {
    display: flex;
    justify-content: center;
    gap: 10px;
}

/* Sections common style */
section {
    margin: 1em 5%;
    padding: 1em;
    background-color: #f8f8f8; /* Light background for sections */
}

footer {
    background-color: #333;
    color: white;
    padding: 1em 0;
    position: relative; /* Added for any absolute children */
}

/* Responsive styles */
@media (max-width: 600px) {
    #menu-button {
        display: block; /* Show the menu button on small screens */
    }

    #navigation-menu {
        display: none; /* Hide the menu by default on small screens */
        flex-direction: column;
        align-items: center
